<div class="media">
  <a class="pull-left icon" href="javascript:void(0)" ng-click="togglePlayState(this, $event)">
    <span class="glyphicon" ng-class="{true: 'glyphicon-pause', false: 'glyphicon-play'}[isAudioInPlay()]"></span>
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <span ng-bind="audio.name"></span>
      <span class="time-left" ng-bind="audio.timeLeft"></span>
    </h4>
    <div class="progress" ng-click="seek(this, $event)">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{audio.playPos}};" >
      </div>
    </div>
  </div>
</div>